.card {
  background-color: #6e738d;
  border-radius: 5px;
  padding: 10px;
  justify-content: space-between;
  margin: 1rem;
}

.card p {
  font-size: 1.2rem;
}

.m-0 {
  margin: 0;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.row {
  flex-direction: row;
}
