.name__input {
  height: 30px;
  margin: 0 1rem 0 0;
  border-radius: 5px;
  padding: 3px;

  font-size: 1rem;
}

.input__label {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.name-form {
  display: flex;
  flex-direction: row;
}

.global-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-accent {
  background-color: $bg-input-dark;
  padding: 0.5rem;
  border-radius: 7px;
}
