:root {
  font-family: $font-family;
  line-height: 1.5;
  font-weight: 400;
  font-size: 62.5%;

  color-scheme: dark light;
  color: $font-color-light;
  background-color: $bg-dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
}

a {
  font-size: 1.5rem;
  font-weight: 500;
  color: $link;
  text-decoration: inherit;
}
a:hover {
  color: $link;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: $fs-title;
  line-height: 1.1;
}

p {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: $bg-btn-dark;
}
button:hover {
  border-color: #8aadf4;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  background: $bg-input-dark;
  border: 0;
  outline: 0;
}

@media (min-width: 1000px) {
  .group__container {
    flex-direction: row;
  }
}
