$bg-dark: #1e1e2e;
$bg-darker: #181926;
$bg-light: #eff1f5;

$bg-btn-dark: #11131e;
$bg-btn-light: #dce0e8;

$bg-input-dark: #313244;
$bg-input-light: #ccd0da;

$bg-group-dark: #5b6078;

$bg-card-dark: $bg-btn-dark;
$bg-card-light: $bg-btn-light;
$bg-card-dark-accent: $bg-input-dark;
$bg-card-light-accent: $bg-input-light;

$font-color-light: #c6d0f5;
$font-color-dark: #4a4d67;
$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

$link: #89b4fa;
$danger: #e64553;

$fs-title: 5rem;

$btn-fs-l: 2rem;
$btn-fs-s: 1rem;
